@font-face {
    font-family: 'Mark Pro';
    src: url('Fonts/Mark_Pro/Mark_Pro.ttf');
}

@font-face {
    font-family: 'Mark Pro Medium';
    src: url('Fonts/Mark_Pro/Mark_Pro_Medium.ttf');
}

@font-face {
    font-family: 'Mark Pro Heavy';
    src: url('Fonts/Mark_Pro/Mark_Pro_Heavy.ttf');
}

.root {
    /* Escala Getronics / Tech Green */
    -fx-color-neutral-medium: #AFAEAF; /* 1 - Cinza equilibrado para bordas ou textos secundários */
    -fx-color-neutral-light: #F2F2F2; /* 5 - Fundo principal ou áreas de contraste limpo */
    -fx-color-primary-deep: #01402E; /* 2 - Verde escuro para fundos de containers ou headers */
    -fx-color-primary-main: #038C4C; /* 3 - Verde médio para botões ou estados normais */
    -fx-color-primary-accent: #0DF205; /* 4 - Verde Neon para o degradê, foco e progresso */
    -fx-color-primary-black: #010001;
    -fx-color-erro-red: #FF4444;

    /* Escala Degradê*/
    -fx-color-primary-forest: #095D4C; /*"A cor de transição, sóbria e técnica."*/
    -fx-font-family: "Mark Pro Medium", "System";
    -fx-font-size: 14px;
}

/*Degradê*/
.gradient-tech-deep {
    -fx-background-color: linear-gradient(to bottom right,
    -fx-color-primary-main,
    -fx-color-primary-main,
    -fx-color-primary-black);
}
