@font-face {
    font-family: 'Mark Pro';
    src: url('Fonts/Mark_Pro/Mark_Pro.ttf');
}

@font-face {
    font-family: 'Mark Pro Medium';
    src: url('Fonts/Mark_Pro/Mark_Pro_Medium.ttf');
}

@font-face {
    font-family: 'Mark Pro Heavy';
    src: url('Fonts/Mark_Pro/Mark_Pro_Heavy.ttf');
}

.root {
    /* Escala Getronics / Tech Green */
    -fx-color-neutral-medium: #AFAEAF; /* 1 - Cinza equilibrado para bordas ou textos secundários */
    -fx-color-neutral-light: #F2F2F2; /* 5 - Fundo principal ou áreas de contraste limpo */
    -fx-color-primary-deep: #01402E; /* 2 - Verde escuro para fundos de containers ou headers */
    -fx-color-primary-main: #038C4C; /* 3 - Verde médio para botões ou estados normais */
    -fx-color-primary-accent: #0DF205; /* 4 - Verde Neon para o degradê, foco e progresso */
    -fx-color-primary-black: #010001;
    -fx-color-erro-red: #FF4444;

    /* Escala Degradê*/
    -fx-color-primary-forest: #095D4C; /*"A cor de transição, sóbria e técnica."*/
    -fx-font-family: "Mark Pro Medium", "System";
    -fx-font-size: 14px;
}

/*Degradê*/
.gradient-tech-deep {
    -fx-background-color: linear-gradient(to bottom right,
    -fx-color-primary-main,
    -fx-color-primary-main,
    -fx-color-primary-black);
}

Label {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-primary-deep;
}

.tooltip {
    -fx-background-color: -fx-color-neutral-medium;
    -fx-text-fill: -fx-color-primary-deep;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-border-color: -fx-color-primary-black;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

.workbook_item {
    -fx-border-color: -fx-color-neutral-medium;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

/* O fundo (pista) da barra */
.progress-bar > .track {
    -fx-background-color: -fx-color-primary-deep; /* Fundo bem preto */
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-border-color: -fx-color-primary-black; /* Borda cinza escuro */
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 5, 0, 0, 1);
}

.progress-bar > .bar {
    -fx-background-radius: 5;
    -fx-background-insets: 4;
    -fx-background-color: linear-gradient(
            to bottom,
            -fx-color-primary-accent 0%,
            -fx-color-primary-main 100%
    );

    -fx-effect: dropshadow(three-pass-box, rgba(13, 242, 5, 0.4), 10, 0, 0, 0);
}

.progress-bar:determinate > .bar {
    -fx-transition: 2s;
}
